name: iOS CD DEV

on:
  pull_request:
    types: [closed]
    branches: dev*

jobs:
  dev-deploy:
    if: github.event.pull_request.merged == true
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Print
        run: |
          echo "开始执行输出"
#          exit 1
      - name: Notify Slack on Success
        if: success()
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_MOBILE_WEBHOOK }}
        run: |
          commits=$(git log --pretty=format:"%h - %s (%an)" ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }})
          echo "::set-output name=commit_messages::$commits"

          PR_NUMBER="${{ github.event.pull_request.number }}"
          PR_TITLE="${{ github.event.pull_request.title }}"
          PR_BODY="${{ github.event.pull_request.body }}"
          ESCAPED_PR_BODY="${PR_BODY//$'\n'/\\n}"
          curl -X POST -H 'Content-type: application/json' --data @- $SLACK_WEBHOOK <<CURL_DATA
          {
            "attachments": [
              {
                "blocks": [
                  {
                    "type": "header",
                    "text": {
                      "type": "plain_text",
                      "text": "CoinEx iOS 打包完成，已上传到服务器",
                      "emoji": true
                    }
                  },
                  {
                    "type": "section",
                    "text": {
                      "type": "mrkdwn",
                      "text": "点击按钮进行下载"
                    },
                    "accessory": {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "下载",
                        "emoji": true
                      },
                      "url": "http://3.33.146.9:5000/",
                      "style": "primary"
                    }
                  },
                  {
                    "type": "section",
                    "text": {
                      "type": "mrkdwn",
                      "text": "<https://github.com/JojoChen27/Demo/pull/$PR_NUMBER|#$PR_NUMBER $PR_TITLE>"
                    }
                  },
                  {
                    "type": "section",
                    "text": {
                      "type": "mrkdwn",
                      "text": "$ESCAPED_PR_BODY"
                    }
                  },
                  {
                    "type": "section",
                    "text": {
                      "type": "mrkdwn",
                      "text": "- <http://example.com/link1|fix: 切换语言时，趋势图重绘；合约新手福利入口兼容rtl>\n- <http://example.com/link2|fix: 产品反馈线上兑换功能币种切换问题修复>"
                    }
                  }
                ]
              }
            ]
          }
          CURL_DATA
